@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~font-awesome/css/font-awesome.min.css);
@import url(~now-ui-kit/assets/css/now-ui-kit.css);
/********************************/
/******** SECTION: TEXT *********/
/********************************/
.title {
  text-transform: capitalize; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

/*********************************/
/****** SECTION: OVERRIDES *******/
/*********************************/
* :hover {
  transition: .1s; }

.table {
  margin: 0; }
  .table tbody tr:hover {
    background-color: rgba(10, 90, 140, 0.1); }

.card-footer {
  display: flex;
  justify-content: space-between; }

.btn-table {
  margin: 0 5px 0 0;
  padding: 5px 7.5px; }

/*********************************/
/***** SECTION: BACKGROUNDS ******/
/*********************************/
.bg-grey {
  background: #efefef; }

/********************************/
/******** SECTION: MISC *********/
/********************************/
.last-child-no-margin :last-child {
  margin-bottom: 0; }

.center-page {
  position: relative;
  top: 45%;
  left: 45%; }

.action {
  margin-right: .4rem;
  padding: .4rem;
  color: white;
  border-radius: 2px;
  cursor: pointer; }
  .action :last-child {
    margin-right: 0; }
  .action :hover {
    cursor: pointer; }

section {
  margin: 30px 0; }

.notif {
  position: absolute;
  top: 0;
  width: 100%; }

article.post {
  transition: all .2s;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 25px;
  margin-bottom: 20px;
  color: #333; }
  article.post p :last-child {
    margin-bottom: 0; }
  article.post .post-header {
    position: relative; }
    article.post .post-header .action-buttons {
      position: absolute;
      top: 0;
      right: 0; }
      article.post .post-header .action-buttons i {
        cursor: pointer; }
  article.post .post-meta-info {
    color: #666; }
  article.post .post-footer {
    color: #666; }
    article.post .post-footer p:last-child {
      margin-bottom: 0; }
    article.post .post-footer :hover {
      cursor: pointer;
      text-decoration: underline; }

.preview:hover {
  cursor: pointer; }

.post:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }
