@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~font-awesome/css/font-awesome.min.css);
/********************************/
/******** SECTION: TEXT *********/
/********************************/
.title {
  text-transform: capitalize; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

/*********************************/
/****** SECTION: OVERRIDES *******/
/*********************************/
* :hover {
  transition: .1s; }

.table {
  margin: 0; }
  .table tbody tr:hover {
    background-color: rgba(10, 90, 140, 0.1); }

/*********************************/
/***** SECTION: BACKGROUNDS ******/
/*********************************/
.bg-grey {
  background: #fcfcfc; }

/********************************/
/******** SECTION: MISC *********/
/********************************/
.last-child-no-margin :last-child {
  margin-bottom: 0; }

.center-page {
  position: relative;
  top: 45%;
  left: 45%; }
