/***********************************/
/******** SECTION: IMPORTS *********/
/***********************************/

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/********************************/
/******** SECTION: TEXT *********/
/********************************/

.title-case {
  text-transform: capitalize;
}

.upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

/*************************************/
/******** SECTION: OVERRIDES *********/
/*************************************/


