@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~now-ui-kit/assets/css/now-ui-kit.css";


/********************************/
/******** SECTION: TEXT *********/
/********************************/

.title {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/*********************************/
/****** SECTION: OVERRIDES *******/
/*********************************/

* {
  :hover {
    transition: .1s;
  }
}

.table {
  margin: 0;

  tbody {
    tr:hover {
      background-color: rgba(10, 90, 140, 0.1);
    }
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.btn-table {
  margin: 0 5px 0 0;
  padding: 5px 7.5px;
}

/*********************************/
/***** SECTION: BACKGROUNDS ******/
/*********************************/

.bg-grey {
  background: #efefef;
}

/********************************/
/******** SECTION: MISC *********/
/********************************/

.last-child-no-margin {
  :last-child {
    margin-bottom: 0;
  }
}

.center-page {
  position: relative;
  top: 45%;
  left: 45%;
}

.action {

  margin-right: .4rem;
  padding: .4rem;
  color: white;
  border-radius: 2px;
  cursor: pointer;

  :last-child {
    margin-right: 0;
  }

  :hover {
    cursor: pointer;
  }
}

section {
  margin: 30px 0;
}

.notif {
  position: absolute;
  top: 0;
  width: 100%;
}
