@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/********************************/
/******** SECTION: TEXT *********/
/********************************/

.title {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/*********************************/
/****** SECTION: OVERRIDES *******/
/*********************************/

* {
  :hover {
    transition: .1s;
  }
}

.table {
  margin: 0;

  tbody {
    tr:hover {
      background-color: rgba(10, 90, 140, 0.1);
    }
  }
}

/*********************************/
/***** SECTION: BACKGROUNDS ******/
/*********************************/

.bg-grey {
  background: #fcfcfc;
}

/********************************/
/******** SECTION: MISC *********/
/********************************/


