<section class="container">
  <div class="card">
    <div class="card-header">Create User</div>
    <div class="card-body last-child-no-margin">

      <div class="form-group row no-gutters" *ngFor="let prop of props">
        <div class="col-2">
          <label class="title" for="{{prop}}">{{prop}}:</label>
        </div>
        <div class="col-10">
          <input id="{{prop}}" [required] class="form-control" type="text" [(ngModel)]="user[prop]">
        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="btn btn-outline-secondary" (click)="back()">
        <span class="fa fa-chevron-left"></span>
        Back
      </div>

      <div class="btn btn-primary" (click)="saveUser()">
        <span class="fa fa-save"></span>
        Save
      </div>
    </div>
  </div>
</section>
