<section class="container" *ngIf="users && users.length">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-white">
          {{pageTitle}}
        </div>
        <div class="card-body bg-grey">
          <div class="form-group">
            <label class="labe" for="filter">Filter</label>
            <input type="text" id="filter" name="filter" class="form-control" placeholder="Search..." [(ngModel)]="filterString">
          </div>
          <h5 *ngIf="filterString && filterString.length">Filtered by: {{filterString}}</h5>

          <table *ngIf="filteredUsers.length" class="table table-bordered bg-white table-striped table-hover shadow-sm">
            <thead class="">
            <tr>
              <th class="upper" scope="col" *ngFor="let key of userKeys">{{key}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of filteredUsers" [@fadeInOut]>
              <td *ngFor="let key of userKeys">{{user[key]}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button (click)="addUser()" class="btn btn-primary">Add User</button>
          <button (click)="delete()" class="btn btn-danger">Delete User</button>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

